/* my.css */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  width: 100%;
  height: 150vh;
  background-image: url(my.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.container1 {
  width: 100%;
  height: 80vh;
  background-color: rgba(25, 25, 25, 0.5);
  background-size: 800px;
  background-position: center;
  background-repeat: repeat;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s ease-in-out; /* Apply the fadeIn animation */
}
.header {
  height: 15%;
  border: black;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.navbar {
  text-align: center;
  flex: 1;
}

.navbar a {
  padding: 6px 20px;
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* Style for form fields */
.container1 form {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Space between form elements */

 
}
.container1 h1{
  text-align: center;
  color: #ffffff;
}
.container1 textarea,
.container1 input[type="text"],
.container1 input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.container1 textarea {
  resize: vertical; /* Allow vertical resize */
}

.container1 input[type="text"] {
  max-width: 100%; /* Limit width of key and IV input fields */
}

/* Button container for Encryption and Decryption buttons */
.button-container {
  display: flex;
  justify-content: space-between; /* Align buttons at the ends of the container */
  margin-top: 5px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for buttons */
.button-container button:hover {
  background-color: #45a049;
}

/* Active state for buttons */
.button-container button:active {
  background-color: #3e8e41;
}

/* Specific alignment for the first and last buttons */
.button-container button:first-child {
  margin-right: 250px; /* Align "Encryption" button to the left */
}

.button-container button:last-child {
  margin-left: 250px; /* Align "Decryption" button to the right */
}