
*{
	margin: 0;
	padding: 0;
}
body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
}

.container{
	width: 100%;
	height: 150vh;
	background-image: url(my.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}

.header{
	height: 15%;
	border: black; 
	display: flex;
	align-items: center;
	overflow: hidden;
	position: relative;
}

.navbar{
	text-align: center;
	flex: 1;

}

.navbar a{
	padding: 6px 20px;
	text-decoration: none;
	color: white;
	margin-left: 20px;
	font-size: 20px;
	font-weight: bold;

}


.bnt {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect */
.bnt:hover {
  background-color: #45a049;
}

/* Active state */
.bnt:active {
  background-color: #3e8e41;
}

/* Style for the link inside the button */
.bnt a {
  color: inherit;
  text-decoration: none;
}

.content{
	text-align: center;
	margin-top: 13%;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Apply animation to .content h1 */
.content h1 {
    font-size: 60px;
    color: white;
    background-color: rgba(25, 25, 25, 0.5);
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    animation: fadeIn 1s ease-in-out; /* Apply fadeIn animation */
}


.content a{
	/*background-color: #01E5FF;*/
	font-size: 20px;
}
