/* CSS Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.header{
    height: 15%;
    border: black; 
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.navbar{
    text-align: center;
    flex: 1;

}

.navbar a{
    padding: 6px 20px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;

}


nav {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h1, h2 {
    color: #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
